*.gem
*.rbc
.bundle
/vendor/bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
.coveralls.yml
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# Ignore junk file
shiritori-*/*
doc/
.rspec_status
**/*.swp
*.swp
**/*~
*.*~
*~
db/schema.rb
public/assets/*
reports/pdfs/*
config/database.yml
/.ruby-version
.DS_Store
.project
.idea
.secret
